body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.mainContent {
  position: relative;
}
.mainContent::after {

}
.character {
  display: none;
}
.character.selected {
  display: inline-block;
}
.background {
}
.informations {
  position: absolute;
  top: 0;
  left: 0px;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 380px;
  border: 2px solid yellow;
}
.logo { 
}  
.name {
}
.phrase {  
  }
.biography { 
  }
.buttons {
}
.button {
}
.button img {
}
.button.selected {
}